$bg-page: rgb(255, 255, 255);
$bg-panel: rgb(245, 245, 245);
$bg-badge: rgb(230, 230, 230);

$error: red;
$info: blue;

$icon-stroke: rgb(175, 175, 175);

$border-outer: rgb(180, 180, 180);
$border-inner: rgb(180, 180, 180);

$text-badge: rgb(100, 100, 100);
