$height-s: 24px;
$height-m: 32px;
$height-l: 40px;
$height-xl: 48px;
$height-xxl: 96px;

$app-width-max: 768px;
$app-width-min: 375px;

$radius-s: 8px;
$radius-m: 12px;
$radius-pill: 900px;

$stroke-border: 1px;
$stroke-icon: 1.5px;

$padding-xxs: 4px;
$padding-xs: 6px;
$padding-s: 8px;
$padding-sm: 12px;
$padding-m: 16px;
$padding-l: 24px;
$padding-xl: 32px;

$icon-size: 24px;

$break-m: 600px;
