@use "dimensions";
@use "fonts";
@use "colors";

.icon-input {
  position: relative;
  height: dimensions.$height-xl;

  &__left {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: dimensions.$padding-m;

    & > svg {
      width: dimensions.$icon-size;
      height: dimensions.$icon-size;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    position: absolute;
    right: dimensions.$padding-m;
    bottom: 0;
    top: 0;

    & > svg {
      width: dimensions.$icon-size;
      height: dimensions.$icon-size;
    }
  }

  & > {
    input[type="search"],
    select {
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      font-size: fonts.$size-m;
      padding: dimensions.$padding-s;
      padding-left: calc(dimensions.$icon-size + dimensions.$padding-m * 2);
      border: dimensions.$stroke-border solid colors.$border-inner;
      border-radius: dimensions.$radius-s;
      appearance: none;
    }

    select {
      padding-right: calc(dimensions.$icon-size + dimensions.$padding-m * 2);
    }
  }
}
