@use "colors";
@use "dimensions";

.repo-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: dimensions.$radius-m;
  border: dimensions.$stroke-border solid colors.$border-outer;
  overflow: hidden;

  &__options {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: dimensions.$padding-sm;
    padding: dimensions.$padding-m;
    background-color: colors.$bg-panel;
    border-bottom: dimensions.$stroke-border solid colors.$border-inner;

    &.faded {
      & > * {
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
      }
    }

    &__name {
      flex-grow: 0.7;
    }

    &__lang {
      flex-grow: 0.3;
      appearance: none;
    }

    @media screen and (max-width: dimensions.$break-m) {
      flex-direction: column;
    }
  }
}
